.hidden-ul {
  display: none;
}

.closed-ul {
  padding-left: 22px;
}

.closed-div {
  padding-bottom: 20px;
}

.oldValue {
  color: red;
  text-decoration: line-through;
}

.newValue {
  color: green;
}

ul {
  list-style: none;
  line-height: 16px;
  font-size: 1em;
  cursor: pointer;
}

/*li:hover {*/
  /*background-color: aliceblue;*/
/*}*/

/*li:hover ul {*/
  /*background-color: white;*/
  /*font-weight: normal;*/
/*}*/

.toggle {
  cursor: pointer;
  position: relative;
  top: 16px;
}